body{
    width: 100vw;
    margin: auto;
    font-family:'Courier New', Courier, monospace;
    background-color: palevioletred;
}

h2 {
    font-size: 3em;
    color: aqua;
    font-weight: 900;
}

h3 {
    font-size: 2em;
    color: teal;
    font-weight: 600;
}

li {
    font-size: 2em;
    color:rgb(184, 28, 75);
    font-weight: 900;

}



ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    z-index: 1;
    top: 0px;
    position: absolute;
}

div {
    width: 30vw;
    height: fit-content;
    background-image: url(../images/IMG_1259.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    border: 50px solid salmon;
    border-radius: 50em;
    margin: 1em;
    text-align: center;
    list-style-position: inside;
    list-style-type: circle;
    padding-bottom: 5em;
}